<% moochmebaby = params["date"] %>

<h1><%= movie.title %></h1>

<%= image_tag movie.poster_url %>

<% if movie.director.present? %>
  <p>Directed By: <%= movie.director.name %></p>
  <p>Movies by this director:</p>

  <ul>
    <% movie.director.movies.each do |movie| %>
      <li><%= movie.title %></li>
    <% end %>
  </ul>
  
<% end %>