<% require 'date' %>

<% mooch = 10 %>
<% da_date = params["ur_date"]   %> 
<% da_year = da_date["year"].to_i %>
<% da_month = da_date["month"].to_i %>
<% da_day = da_date["day"].to_i %>

<% Date.today.strftime("%Y%m%d") %>

<% if (Date.valid_date?(da_year,da_month,da_day))	%> 


	<% new_date = Date.new(da_year,da_month,da_day) %>
	<p><% mooch_count = Date.today - new_date %></p>
	<p><% mooch_count %></p>
	<div class="row">
	<%= image_tag("https://www.gannett-cdn.com/-mm-/66fb58705d66d4df4661f176307fc2f2c1538434/c=21-0-1003-738&r=x404&c=534x401/local/-/media/2018/01/18/USATODAY/USATODAY/636518982902306689-OPPOSE-2-.JPG") %>
	</div>

 

	<p><font size="4"> That day was </font>  <%=  mooch_count.to_i / mooch %> <font size="4"> Mooches Ago! </font></p>


<% else %>

<div class="row">
<%= image_tag("https://media.vanityfair.com/photos/5989ea464f8529617fbad877/master/pass/Scaramucci-Frames.jpg", size:"600"  )%>
</div>



<p><font size="4"> Hey stable genius, that's not a real date. </font></p>

<%end%>
